<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS Practice</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">

        <div class="header">
            <h1>NodeJS</h1>
            <div class="tag">
                <a class="link" href="home">Home</a>
                <a class="link" href="products">Products</a>
                <a class="link" href="contacts">Contacts</a>
            </div>
        </div>

        <div class="main">
            <h1>{{header}} Page</h1>
            <p>This website visited {{counter}} times</p>
        </div>
    </div>
</body>
</html>